
*{
    box-sizing: border-box;
}
.sub-caja{
    border: 1px solid black;
    background: #fff;
    width: 250px;
    margin: 10px;
}

p{
    text-align: center;
    font-size: 20px;
}
.contenedor-flex{
    width: 85%;
    margin: auto;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: aqua;

}

img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 10px;
    border-bottom: 1px solid black;

}